* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoDiv {
    position: relative;
    left: -55px;
}
.navBar {
    position: sticky;
    margin-top: -2px;
    background: linear-gradient(13deg,#D0C5BC,#9c9694,#62686B);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); /* Increased shadow */
}
.navbar-links {
    padding: 10px 15px; /* Add padding to create space between links */
    cursor: default;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar-links:hover {
    color: #28404B!important;
}
.nav-content{
    font-size: 20px;
    font-weight: 550;
    font-family: 'Lora', serif;
}

.container {
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
}

.logo {
    height: 100px;
    width: 130px;
    margin-left: 70px;
}

.register {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 8px;
}
.login{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 8px;
}

#btn {
    width: 90px;
    height: 40px;
    padding: 8px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: #28404B;
    text-align: center;
}

#btn:hover {
    background-color: #427989 !important;
}
#login-button{
    width: 90px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    background-color: #28404B;
    text-align: center;
}
#login-button:hover {
    background-color: #427989 !important;
}

.nav-items {
    justify-content: space-around;
    padding-left: 50px;
}

.navigation {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    padding-top: 3px;
    padding-left: 15px;
    margin-right: 38px;
    position: relative;
    left: -25px;
}
