/* Home.css */
.home-container {
    padding-bottom: 1000px; /* Adjust the padding as needed */
  }
  
  .home-image {
    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
  }


 