*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logoDiv{
   position: relative;
   left: -55px
}
/* .secondHeader{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #010c14e0;
}
.contactInfo{
    position: relative;
    margin-left: 160px;
    color: #2982BC;
} */
.foricons{
    position: relative;
    bottom: 23px;
    margin-left: 1100px;

}
.socialIcon{
    font-size: 20px;
    justify-content: space-between;
    padding-left: 15px;
    color: #060606;
}
.socialIcon:hover {
    color: #dddddd !important;
}
.navBar{
    margin-top: -2px;
}
.navbar-nav .nav-link {
    font-size: 18px;
    font-family: 'Lora',serif;
    color: white !important;
}
.nav-link:hover {
    color: #C0CFD7 !important;
}
.head{
    width: 100%;
    height:auto;
}
#mainnav{
    background: linear-gradient(285deg, #B5C4CC, #272727, #0B0B0B, #121313);
}
.container{
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
}
.logo {
    height: 100px;
    width: 130px;
    margin-left: 40px;
}
button{
    background-color: #53538d ;
    border-radius: 50%;
    height: 30px;
    padding-bottom: 25px;
    border: none;
}
.signup {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #C0CED9;
    margin-top: -8px;
}
#btn{
    padding: 13px;
    border-radius: 8px;
    background-color: #484D50;
    text-align: center;
}
#btn:hover{
    background-color:#1F1F21 !important;
}

.nav-items{
    justify-content: space-around;
    padding-left: 50px;
}
.navigation{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-left: 38px;
    margin-right: 38px;
    position: relative;
    left: -35px;
}
.navbar-links{
    margin-right: 10px;
    font-weight: 700;
}
li{
    padding-left: 30px;
}
