.car-registration {
  font-family: Arial, sans-serif;
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-registration h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.car-registration form {
  display: flex;
  flex-direction: column;
}

.car-registration label {
  color: #333;
  margin-bottom: 5px;
}

.car-registration input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.car-registration button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px; 

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.car-registration button:hover {
  background-color: #0056b3;
}

.car-registration h3 {
  color: #333;
  margin-top: 20px;
}

.car-details-label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

.car-registration .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 300px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
